<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>

<body>
<!-- navigation bar -->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment c-padded-tb-mini c-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active c-item item c-mobile-hidden"><i class="mini home icon"></i>博客</a>
            <a href="#" class="c-item item c-mobile-hidden"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="c-item item c-mobile-hidden"><i class="mini tags icon"></i>标签</a>
            <div class="right menu c-item c-mobile-hidden">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">XiaoYi-byte
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button c-right-top c-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/blogs/addBlog}" class="teal active item">发布</a>
            <a th:href="@{/admin/blogs}" class="item">列表</a>
        </div>
    </div>
</div>

<!-- content -->
<div class="c-container c-padded-tb-big">
    <div class="ui container">
        <div class="ui success large message">
            <h3>Hi,</h3>
            <p>XiaoYi-byte, 欢迎登录！</p>
        </div>

        <img src="https://unsplash.it/800/450?image=1005" alt="" class="ui rounded fluid image">
    </div>
</div>

<!-- footer -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment c-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted stackable divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/wechat.jpg" class="ui rounded image" alt="my wechat QR code"
                             style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header c-text-thin c-text-spaced c-text-lined">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header c-text-thin c-text-spaced c-text-lined">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">邮箱：xiaoyi_byte@163.com</a>
                    <a href="#" class="item">QQ：846507684</a>
                    <a href="#" class="item">Github：XiaoYi-byte</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header c-text-thin c-text-spaced c-text-lined">Blog</h4>
                <p class="c-text-thin c-text-spaced c-text-lined c-opacity-mini">Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Sit consectetur sint accusamus sed
                    similique dolores? Voluptas mollitia, fugit, nostrum blanditiis obcaecati reprehenderit
                    quisquam accusantium quae optio vitae voluptatibus sunt voluptatem!</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="c-text-thin c-text-spaced c-text-lined c-opacity-tiny">Copyright © 2021-2022 XiaoYi-byte. All
            rights reserved</p>
    </div>
</footer>
<th:block th:fragment="script">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.c-item').toggleClass('c-mobile-hidden');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>

</html>