<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
</head>

<body>
<!-- navigation bar -->
<nav class="ui inverted attached segment c-padded-tb-mini c-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="c-item item c-mobile-hidden"><i class="mini home icon"></i>首页</a>
            <a href="#" class="c-item item c-mobile-hidden"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="c-item item c-mobile-hidden"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="c-item item c-mobile-hidden"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="active c-item item c-mobile-hidden"><i class="mini info icon"></i>关于我</a>
            <div class="right c-item item c-mobile-hidden">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button c-right-top c-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>

<!-- content -->
<div class="c-container c-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui rounded image">
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p>同济大学 软件工程 大三学生</p>
                    <p>爱好计算机和电影，想学自己感兴趣的一切东西，喜欢编程技术和交朋友</p>
                    <p>这条路我才刚刚开始,来日方长</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic label">编程</div>
                    <div class="ui orange basic label">篮球</div>
                    <div class="ui orange basic label">电影</div>
                    <div class="ui orange basic label">交友</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic label c-margin-tb-tiny">Java</div>
                    <div class="ui teal basic label c-margin-tb-tiny">SpringBoot</div>
                    <div class="ui teal basic label c-margin-tb-tiny">C++</div>
                    <div class="ui teal basic label c-margin-tb-tiny">algorithm</div>
                    <div class="ui teal basic label c-margin-tb-tiny">Python</div>
                    <div class="ui teal basic label c-margin-tb-tiny">Computer Network</div>
                    <div class="ui teal basic label c-margin-tb-tiny">MySql</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="https://github.com/XiaoYi-byte" class="ui circular icon button"><i
                            class="github icon"></i></a>
                    <a href="#" class="ui weixin circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="846507684"
                       data-position="bottom center"><i class="qq icon"></i></a>
                    <a href="https://hub.docker.com/u/kuarkyi" class="ui circular icon button"><i
                            class="docker icon"></i></a>
                </div>
                <div class="ui weixinQR flowing popup transition hidden">
                    <div class="image">
                        <img src="./static/images/wechat.jpg" alt="" class="ui rounded bordered image"
                             style="width: 110px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="ui inverted vertical segment c-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted stackable divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="my wechat QR code"
                             style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header c-text-thin c-text-spaced c-text-lined">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                    <a href="#" class="item">用户故事（User story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header c-text-thin c-text-spaced c-text-lined">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">邮箱：xiaoyi_byte@163.com</a>
                    <a href="#" class="item">QQ：846507684</a>
                    <a href="#" class="item">Github：XiaoYi-byte</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header c-text-thin c-text-spaced c-text-lined">Blog</h4>
                <p class="c-text-thin c-text-spaced c-text-lined c-opacity-mini">Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Sit consectetur sint accusamus sed
                    similique dolores? Voluptas mollitia, fugit, nostrum blanditiis obcaecati reprehenderit
                    quisquam accusantium quae optio vitae voluptatibus sunt voluptatem!</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="c-text-thin c-text-spaced c-text-lined c-opacity-tiny">Copyright © 2021-2022 XiaoYi-byte. All
            rights reserved</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.c-item').toggleClass('c-mobile-hidden');
    });

    $('.weixin').popup({
        popup: $('.weixinQR.popup'),
        position: 'bottom center'
    });

    $('.qq').popup();
</script>
</body>

</html>